<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.im97mori.ble.android.peripheral">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:name=".TestApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AndroidPeripheralUtils">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.device.type.DeviceTypeListActivity" />
        <activity android:name=".ui.device.setting.DeviceSettingActivity" />
        <activity android:name=".ui.device.setting.u1810.BloodPressureServiceSettingActivity" />
        <activity android:name=".ui.device.setting.u2902.ClientCharacteristicConfigurationSettingActivity" />
        <activity android:name=".ui.device.setting.u180a.DeviceInformationServiceSettingActivity" />
        <activity android:name=".ui.device.setting.u2a49.BloodPressureFeatureSettingActivity" />
        <activity android:name=".ui.device.setting.u2a36.IntermediateCuffPressureSettingActivity" />
        <activity android:name=".ui.device.setting.u2a35.BloodPressureMeasurementSettingActivity" />
        <activity android:name=".ui.device.setting.u2a29.ManufacturerNameStringSettingActivity" />
        <activity android:name=".ui.device.setting.u2a24.ModelNumberStringSettingActivity" />
        <activity android:name=".ui.device.setting.u2a23.SystemIdSettingActivity" />
        <activity android:name=".ui.device.PeripheralActivity" />
    </application>

</manifest>